.navbar-brand {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}
a.navbar-brand:hover {
  color: #fff !important;
}
.navbar-text .nav-link {
  color: #fff;
  font-weight: 600;
}

.videolist li.active {
  background-color: #09c;
}
.videolist li {
  cursor: pointer;
}
.videolist li a {
  text-decoration: none;
}
.videolist li.active a {
  color: #fff !important;
  text-decoration: none;
}
